* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 600px;
  background: #52c234; /* fallback for old browsers */
  background: linear-gradient(
      to right,
      hsla(104, 89%, 49%, 0.24),
      hsla(104, 100%, 5%, 0.61)
    ),
    url("../Imag/asesoria.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}

.container {
  position: fixed;
  width: 100%;
  height: auto;
  overflow: auto;
  display: block;
}

.sidebar {
  width: 100%; /* Cambia el sidebar a ocupar todo el ancho */
  height: 60px; /* Define una altura fija para la barra horizontal */
  background: black;
  overflow: auto;
  display: flex; /* Utilizamos flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-around; /* Distribuye los elementos con espacio entre ellos */
}

.sidebar img {
  width: 130px;
  display: block;
  margin: 10px auto;
  opacity: 0.7;
}

.sidebar ul {
  display: flex; /* Organiza los elementos en fila */
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 20px;
}

.sidebar ul li:hover {
  background: #84af0b;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

/* Reglas de medios */
@media screen and (max-width: 900px) {
  .sidebar {
    height: 50px; /* Ajusta la altura del sidebar en pantallas pequeñas */
  }

  .sidebar img {
    width: 100px; /* Reduce el tamaño de la imagen */
  }

  .side-hide {
    font-size: 20px; /* Ajusta el tamaño del texto del botón */
  }

  .sidebar ul li a {
    font-size: 15px; /* Ajusta el tamaño del texto de los enlaces */
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    height: auto; /* El sidebar puede tener altura automática en pantallas muy pequeñas */
    flex-direction: column; /* Cambia la disposición de los elementos a columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  .sidebar img {
    width: 80px; /* Imagen aún más pequeña */
  }

  .side-hide {
    display: none; /* Oculta el botón de cerrar en pantallas pequeñas */
  }

  .sidebar ul li {
    padding: 10px 5px; /* Reduce el relleno */
  }

  .sidebar ul li a {
    font-size: 14px; /* Texto más pequeño */
  }
}
